@import url('https://fonts.googleapis.com/css?family=Titan+One');

@import url('https://fonts.googleapis.com/css?family=Oswald|Titan+One');

@font-face {
font-family: 'Titan+One';
src: url('../fonts.nytimes.txt') format('opentype');
font-weight: normal;
font-style: normal;
}

h1{
  font-family:'Titan+One', sans-serif;
  text-align:center;
}

h2{
  font-family:'Titan+One',serif;
  text-align: center;
}

h3{
  font-family:'Titan+One',serif;
  text-align: center;
}

p{
  font-family: 'Oswald|Titan+One', serif;
  font-size: 2em;
}

/* PSEUDO ELEMENT */
h3{
   font-family: 'Oswald|Titan+One', cursive;
   font-size: 1.5em;
   font-weight: bolder;
}

h3{
   color: #800080;
}
