@import url('https://fonts.googleapis.com/css?family=Titan+One');

@import url('https://fonts.googleapis.com/css?family=Oswald|Titan+One');

@font-face {
font-family: 'Titan One', cursive;
src: url('../TitanOne-Regular.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

h1{
font-family: 'Titan One', cursive;
  text-align:center;
}

h2{
font-family: 'Titan One', cursive;
  text-align: center;
}

h3{
font-family: 'Titan One', cursive;
  text-align: center;
}

p{
  font-family: 'Oswald', sans-serif;
  font-size: 2em;
}

/* PSEUDO ELEMENT */
h3{
  font-family: 'Oswald', sans-serif;
   font-size: 1.5em;
   font-weight: bolder;
}

h3{
   color: #800080;
}
