
body
{
  background-color: orange;
  font: Helectiva;
  font-style: italic !important;
}

    div.squiggles {
      width: 10px;
      height: 10px;
      position: absolute;
      right: 10px;
      bottom: 10px;
      background-color: orange;
    }
    div.lightning {
      width: 10px;
      height: 10px;
      position: absolute;
      right: 20px;
      bottom: 20px;
      background-color: orange;
    }
    div.palmtree {
      height: 10px;
      width: 10px;
      position: absolute;
      right: 30px;
      top: 30px;
      background-color: orange;
    }
