@font-face {
  font-family: 'Titan One', cursive;
  <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
}

@font-face {
  font-family: 'Slabo 27px', serif;
  <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
}

@font-face {
  font-family: 'Roboto Slab', serif;
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
}
