@font-face {
  font-family: 'Titan One', cursive;
  <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
}

@font-face {
  font-family: 'Lato', sans-serif;
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
}

@font-face {
  font-family: 'Bitter', serif;
  <link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet">
}
